/* Style rtl */

/* Import Noto Kufi Arabic font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;700&display=swap');

/* Define custom fonts */
@font-face {
    font-family: 'TatweerAlRiyadh';
    font-weight: normal;
    src: url('../fonts/TatweerAlRiyadh-Light.otf');
}
@font-face {
    font-family: 'TatweerAlRiyadh';
    font-weight: bold;
    src: url('../fonts/TatweerAlRiyadh-Regular.otf');
}

/* Apply custom font to body */
body {
    font-family: 'TatweerAlRiyadh', sans-serif;
}

/* Header styles */
.header .navbar-nav {
    padding: 15px 65px 15px 15px;
}

/* Adjust navbar-collapse styles */
.navbar-collapse:after {
    left: auto;
    right: 0;
    border-right: 0 solid transparent;
    border-left: 30px solid transparent;
}
.navbar-collapse {
    background-color: #00884e;
}

/* Adjust nav-link styles */
.header .nav-link:before {
    left: auto;
    right: 0;
}

/* Adjust progress-bar styles */
.steps-label .progress-bar {
    background-color: #00884e;
    border-radius: 0;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}

/* Adjust progress styles */
.steps-label .progress ul li i {
    right: -5px;
}

/* Adjust input-building styles */
.input-building label i {
    right: auto;
    left: 15px;
}

/* Adjust btn-success styles */
.steps .btn-success .fa-circle-chevron-right:before {
    content: "\f137";
}

/* Adjust btn-secondary styles */
.steps .btn-secondary .fa-circle-chevron-left:before {
    content: "\f138";
}

/* Adjust form-label styles */
.form-label i {
    transform: rotateY(180deg);
}

/* Adjust last-child styles */
.steps-label .progress ul li:last-child i.active {
    right: auto;
    left: -5px;
}

/* Create a triangle for welomeAfter */
.welomeAfter::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-right: 0 solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 52px solid #00884e;
}

/* Media query for responsive design */
@media (max-width: 991.9px) {
    .header .navbar-nav {
        padding: 15px;
    }
}
